<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="index.html" class="sem-underline"> <img src="./../assets/logo.png" alt="">
        Mister Madruga</a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#home">Home</a></li>
        <li><a class="nav-link scrollto" href="#quem">Quem Somos</a></li>
        <li><a class="nav-link scrollto" href="#servico">Serviços</a></li>
        <li><a class="nav-link scrollto " href="#agenda">Agenda</a></li>
      </ul>
      <i class="fa-solid fa-bars mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>







</header>
<!-- End Header -->

<div class="container-fluid p-0">
  <!-- INICIO CARROSSEL -->
  <div class="carrossel">
    <ul class="p-0">
      <li>
        <img src="../assets/carrossel1.jpg" alt="imgCarrossel1">
      </li>

      <li>
        <img src="../assets/carrossel2.jpg" alt="imgCarrossel2">
      </li>

      <li>
        <img src="../assets/carrossel3.jpg" alt="imgCarrossel3">
      </li>

    </ul>

  </div>
  <!-- FIM CARROSSEL -->
</div>


<!-- ======= About Section ======= -->
<section  class="about container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 bg-black py-5" id="quem" data-aos="fade-left" >
        Quem Somos
      </div>
      <div class="col-lg-6 bg-white py-5" data-aos="fade-left">

      </div>
      <div class="col-lg-6 bg-white py-5" data-aos="fade-left"></div>

      <div class="col-lg-6 bg-black py-5" id="servico" data-aos="fade-left">
        Serviços
      </div>

    </div>

  </div>
</section><!-- End About Section -->

<main id="main" class="container">
  <!-- ======= About Section ======= -->
  <section id="agenda" class="about">
    <div class="container">

      <!-- <div class="row">
          <div class="col-lg-6 order-1 order-lg-2 h-100 bg-danger" data-aos="fade-left">
            bbb
          </div>
        </div> -->

    </div>
  </section><!-- End About Section -->
</main>